<div>
  <p class="sectionSubText">Introduction</p>
  <h2 class="sectionHeadText">Overview.</h2>

  <p class="mt-4 text-secondary text-[17px] max-w-3xl leading-[30px]">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore amet
    possimus quae quam quibusdam, alias, tempora reprehenderit expedita a totam
    atque nulla dolorem magnam vitae fugit facere! Id, sit laborum. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. In, asperiores, quia quo odit
    ut repellendus, maiores tempora temporibus nam beatae dicta omnis. Adipisci
    expedita natus tenetur qui perferendis? Modi, vitae.
  </p>

  <div class="mt-20 flex flex-wrap gap-10">
    <ng-container
      *ngFor="let card of services; let i = index; trackBy: trackByCardTitle"
    >
      <app-service-card
        [cardDetails]="card"
        [delay]="i * 400"
      ></app-service-card>
    </ng-container>
  </div>
</div>
