<div #aboutHeader style="opacity: 0" id="aboutHeader">
  <p class="sectionSubText">Introduction</p>
  <h2 class="sectionHeadText">Overview.</h2>

  <p
    class="about_description mt-4 text-secondary text-[17px] max-w-3xl leading-[30px]"
  >
    I'm an experienced programmer with a wide range of skills and
    specializations. My areas of expertise include web development, PLC
    programming, and mobile app development. I'm ready to deliver innovative
    solutions and always open to new challenges. Explore my portfolio to learn
    more about my work and how I can contribute to your project.
  </p>
</div>

<div
  class="service_card_wrapper mt-20 flex xs:flex-row flex-col flex-wrap gap-10 w-full items-center justify-center md:justify-start"
>
  <ng-container
    *ngFor="let card of services; let i = index; trackBy: trackByCardTitle"
  >
    <app-service-card
      class="service_card"
      [cardDetails]="card"
      style="opacity: 0"
    ></app-service-card>
  </ng-container>
</div>
