<div class="flex max-w-full">
  <canvas
    #canvasBalls
    id="canvasBalls"
    style="
      height: 100%;
      width: 100%;
      max-width: 100%;
      max-height: 1000px;
      min-height: 250px;
      min-width: 100%;
    "
  ></canvas>
  <ng-container *ngIf="showBalls">
    <div *ngFor="let technology of technologies; let i = index">
      <app-ball
        [canvasRef]="canvasBalls"
        [texture]="technology.icon"
        [id]="'ball' + i.toString()"
        [scene]="scene"
        [camera]="camera"
        [position]="ballPositions[i]"
        [enableAnimationOfBalls]="enableAnimationOfBalls"
      ></app-ball>
    </div>
  </ng-container>
</div>
