<div #canvasContainer class="min-w-full min-h-screen w-full h-full max-w-full">
  <ng-container *ngIf="loadProgress$ | async as loadProgress">
    <app-loader
      class="absolute mx-auto top-[400px]"
      [progress]="loadProgress"
      *ngIf="loadProgress !== 100"
    ></app-loader>
  </ng-container>
  <canvas
    #canvas
    id="canvas"
    class="min-h-full min-w-full"
    style="height: 100%; width: 100%; z-index: 1000; max-width: 100%"
  ></canvas>
</div>

<!-- <div>Aktualna pozycja : {{ position | json }}</div> -->
