<div class="mt-12 bg-black-100 rounded-[20px]">
  <div
    class="feedbacksHeader padding bg-tertiary rounded-2xl min-h-[300px]"
    style="opacity: 0"
  >
    <p class="sectionSubText">What others say</p>
    <h2 class="sectionHeadText">Testimonials.</h2>
  </div>
  <div class="paddingX -mt-20 pb-14 flex flex-wrap gap-7">
    <ng-container *ngFor="let testimonial of testimonials; let i = index">
      <app-feedback-card
        class="feedback_card"
        [testimonial]="testimonial"
        [delay]="i * 250"
        style="opacity: 0"
      ></app-feedback-card>
    </ng-container>
  </div>
</div>
